/* luôn dùng box-sizing: border-box; để không bị thay đổi width height của box khi dùng padding, margin, border*/
*{
    box-sizing: border-box;
}
.container-flexbox{
    width: 600px;
    height: auto;
    margin: 0 auto;
    border: 2px solid #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.flex-item{
    width: 150px;
    height: 150px;
    background-color: #cc6869;
    border: 1px solid #cc1d20;
    margin: 5px;
}
.flex-item:nth-child(2){
    height: 100px;
}