body{
    background-color: #ccc;
}
h1{
    color: blue;
}
*{
    box-sizing: border-box;
}
.box-login{
    width: 660px;
    height: 600px;
    background-color: #ffffff;
    margin:  50px auto;
    border-radius: 25px;
    padding: 130px;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 10px #85858c;
}
.input-text{
    width: 100%;
    height: 47px;
    background-color: #f4f4f4;
    border-radius: 15px;
    border: none;
    margin-bottom: 15px;
    padding: 0 12px;
    color: #000000;
    font-size: 18px;
}
.input-text:focus{
    outline: none;
}
.box-login .btn-login{
    width: 100%;
    height: 47px;
    background-color: #ff0000;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 15px;
}
.box-link a{
    display: inline-block;
    color: #cc1d20;
    font-size: 18px;
}
.box-link .quenmk{
    /*margin-right: 250px;*/
}
.box-link .taotk{
    float: right;
}
.box-login h4{
    text-transform: uppercase;
    color: #909090;
    font-size: 26px;
    text-align: center;
}
