*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.topbar{
    height: 30px;
    background-color: #2a3e41;
}
.main-topbar{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.topbar a{
    display: inline-block;
    margin: 0 8px;
}
.topbar .icon-1{
    background: url("../images/icon-1.png") no-repeat;
    width: 12px;
    height: 16px;
}
.topbar .icon-2{
    background: url("../images/icon-2.png") no-repeat;
    width: 15px;
    height: 14px;
}
.topbar .icon-3{
    background: url("../images/icon-3.png") no-repeat;
    width: 14px;
    height: 11px;
}
.topbar .icon-4{
    background: url("../images/icon-4.png") no-repeat;
    width: 7px;
    height: 12px;
}
.topbar .icon-5{
    background: url("../images/icon-5.png") no-repeat;
    width: 15px;
    height: 12px;
}
.topbar .icon-6{
    background: url("../images/icon-6.png") no-repeat;
    width: 13px;
    height: 12px;
}
.topbar .icon-7{
    background: url("../images/icon-7.png") no-repeat;
    width: 13px;
    height: 12px;
}
.top-header{
    background-color: #557c83;
    width: 100%;
    height: 115px;
}
.main-topheader{
    width: 1170px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*menu list*/
.box-menu{
    border-bottom: 1px solid #cccccc;
}
.main-menu{
    width: 1170px;
     margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lst-menu{
    display: flex;
    padding: 0;
    margin: 0;
}
.lst-menu li{
    list-style: none;
}
.lst-menu li.active, .lst-menu li:hover{
    border-bottom: 5px solid #557c83;
}

.lst-menu li a{
    display: inline-flex;
    color: #5b5150;
    font-size: 14px;
    text-transform: uppercase;
    padding: 25px 15px;
    text-decoration: none;
}
.icon-search{
    display: block;
    background: url("../images/icon-search.png") no-repeat;
    width: 21px;
    height: 22px;
    text-indent: -999em;
}
/**main-content**/
.main-content{
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.box-left{
    width: 770px;
}
.box-right{
    width: 370px;
}
.title-news{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #557c83;
    margin-bottom: 0;
}
.item-news{
    display: flex;
    border-bottom: 1px solid #cccccc;
    padding: 30px 0;
}
.img-thumb-news{
    margin-right: 30px;
}
.info-news .title{
    padding: 0;
    margin: 0 0 10px 0;
}
.info-news .title a{
    color: #333333;
    font-size: 20px;
    text-decoration: none;
}
.info-detail{
    font-size: 11px;
    color: #999999;
    display: flex;
    align-items: center;
}
.info-detail .comment:before{
     content: '';
     display: inline-block;
     background: url("../images/icon-comment.png") no-repeat;
     width: 10px;
     height: 10px;
    margin-right: 5px;
 }
.info-detail .like:before{
    content: '';
    display: inline-block;
    background: url("../images/icon-like.png") no-repeat;
    width: 10px;
    height: 9px;
    margin-right: 5px;
}
.info-detail span{
    display: inline-flex;
    margin-right: 10px;
    align-items: center;
}
.description-news{
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}
.box-hastag a{
    display: inline-block;
    font-size: 13px;
    color: #3aafa9;

}
.paging-news{
    display: flex;
}
.paging-news li{
    list-style: none;
    margin-right: 10px;
}
.paging-news li a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #999999;
    color: #666666;
    font-size: 24px;
    text-decoration: none;
}
/*.paging-news li.active a, .paging-news li:hover a{*/
/*    background-color: #557c83;*/
/*    color: #ffffff;*/
/*}*/
.paging-news li a.active, .paging-news li a:hover{
        background-color: #557c83;
        color: #ffffff;
}
.box-slide{
    width: 100%;
    height: 227px;
    margin: 30px 0;
    position: relative;
}
.btn-prev{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0.56);
    position: absolute;
    top: 75px;
    left: 12px;
}
.btn-next{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 43px;
    background-color: rgba(255, 255, 255, 0.56);
    position: absolute;
    top: 75px;
    right: 12px;
}
.btn-prev:before{
    content: '';
    display: block;
    background: url("../images/arrrow-img.png") no-repeat;
    width: 18px;
    height: 29px;
}
.btn-next:before{
    content: '';
    display: block;
    background: url("../images/arrrow-img.png") no-repeat;
    width: 18px;
    height: 29px;
    transform: rotate(180deg);
}
.des-slide{
    width: 100%;
    height: 45px;
    background: #3aafa9b0;
    position: absolute;
    left: 0;
    bottom: 0;
    padding-left: 17px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.box-video{
    position: relative;
}
.box-video .btn-play{
    width: 43px;
    height: 43px;
    background-color: #ffffff;
    position: absolute;
    top: 73px;
    left: 163px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-video .btn-play:focus{
    outline: none;
}
.box-video .btn-play:before{
    content: '';
    display: block;
    background: url("../images/icon-play-1.png") no-repeat;
    width: 18px;
    height: 20px;
}
.box-ads{
    display: block;
    margin: 30px 0;
}
.box-news-right{
    border: 1px solid #c2c2c2;
}
.box-news-right .top-title{
    height: 50px;
    background-color: #557c83;
    display: flex;
    align-items: center;
}
.box-news-right .top-title a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 16px;
    font-size: 14px;
    height: 100%;
    display: flex;
    align-items: center;
}
.box-news-right .top-title a.active, .box-news-right .top-title a:hover{
    background-color: #3aafa9;
}
.lst-content .item-content{
 border-bottom: 1px solid #c2c2c2;
    display: flex;
    padding: 10px;
}+
/*.lst-content .item-content:first-child{*/
/*    border-bottom: 1px dashed blue;*/
/*}*/
/*.lst-content .item-content:nth-child(2){*/
/*    background-color: red;*/
/*}*/
.lst-content .item-content:last-child{
    border-bottom: none;
}
.item-content .number{
    font-size: 30px;
    color: #959595;
    margin-right: 15px;
}
.info-item-content{
    flex: 1;
    /*width: calc(100% - 30px);*/
}
